{% extends "base.html" %}
{% load static %}
{% block title %}Запустить модель{% endblock %}
{% block content %}
<h1>Задачи</h1>
<ul>
    <li>
        <div class="modelDescription">
                    <p>
                        Модель, описывающая процессы затвердевания с&nbsp;двухфазной зоной концентрационного переохлаждения
                    </p>
            <p><a href="{% url 'webservice:model' model_id='model_processes' %}">Перейти к вычислениям</a></p>

        </div>
    </li>
    <li>
        <div class="modelDescription">
                    <p>
                        Модель, решающая проблему Стефана
                    </p>
            <p><a href="{% url 'webservice:model' model_id='stefan_problem' %}">Перейти к вычислениям</a></p>

        </div>
    </li>
</ul>

{% endblock %}
