{% extends "base.html" %}
{% load static %}
{% block title %}Запустить модель{% endblock %}
{% block content %}
    <h1>Запустить модель</h1>
    <div class="modelDescription">
            <p>
                {{ model_description }}
            </p>
            {% if show_hint %}
                <p class="hint">
                    <em>{{ default_description }}</em>
                </p>
            {% endif %}
    </div>
    <form action="{% url 'webservice:answer' model_id=model_id %}" method="post">
        {% csrf_token %}
        <ul class="parameters">
        {% for field in form %}
            <li class="param">
                {{ field.label_tag }}
                {{ field }}
            </li>
        {% endfor %}
        </ul>
        <p><input type="submit" value="Запустить"></p>
    </form>
{% endblock %}




