<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/base.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="header">
    <span class="logo">WebMathModel</span>
     <ul class="menu">
         {% if section == "main" %}
            <li class="selected">
         {% else %}
            <li>
         {% endif %}
         <a href="{% url 'webservice:main' %}">Главная</a>
         </li>
         {% if request.user.is_authenticated %}
             {% if section == "journal" %}
                <li class="selected">
             {% else %}
                <li>
             {% endif %}
             <a href="{% url 'webservice:journal' %}">Журнал</a>
             </li>
         {% endif %}
     </ul>
     <span class="user">
        {% if request.user.is_authenticated %}
            Добрый день, {{ request.user.first_name }}!
            <a href="{% url 'logout' %}"> Выйти</a>
        {% else %}
            <a href="{% url 'login' %}"> Войти</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>