{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <h1>Изменение пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка для изменения пароля устарела или уже была использована. Пожалуйста, попробуйте снова.</p>
    {% endif %}
{% endblock %}